<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <title>Cadastro</title>
  </head>
  <body>

    <div class="container-fluid">

      <div class="row">
        <div class="col-md-6 p-0">
            <img src="ImagemCadastro.jpg" class="w-100" alt="Imagem de uma mulher se cadastrando">
        </div>
        <div class="col-md-6">
           
            <div class="card card-body m-3 border">
               
               <div class="m-2">
                    <div class="text-center"><h4>Coding</h4></div>
                    
                    <form action="index3.html" method="POST">
                        <div>
                            <div class="p-3"><h5>Informações de contato</h5></div>
                      
                            <div class="row mx-auto">
                                <div class="col-md-12">
                                    <div class="input-group border_color">
                                        <div class="input-group-prepend">
                                            <span class="border_decoration input-group-text bg-white cinza border-1" id="basic-addon1">E-mail</span>
                                        </div>
                                        <input type="text" class="form-control border-1 inputs" placeholder="Digite seu e-mail"aria-label="Username" aria-describedby="basic-addon1">
                                    </div>   
                                </div>
                            </div>
    
                            <div class="row mx-auto">
                                <div class="col-md-12 mt-3">
                                    <div class="input-group border_color">
                                        <div class="input-group-prepend">
                                            <span class="border_decoration input-group-text bg-white cinza border-1" id="basic-addon1">Linkedin</span>
                                        </div>
                                        <input type="text" class="form-control border-1 inputs" placeholder="Digite o seu Linkedin" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                            </div>

                            <div class="row mx-auto">
                                <div class="col-md-12 mt-3">
                                    <div class="input-group border_color">
                                        <div class="input-group-prepend">
                                            <span class="border_decoration input-group-text bg-white cinza border-1" id="basic-addon1">GitHub</span>
                                        </div>
                                        <input type="text" class="form-control border-1 inputs" placeholder="Digite o seu GitHub" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                            </div>
    
                            <div class="row mx-auto">
                                <div class="col-md-6 mt-3">
                                    <div class="input-group border_color">
                                        <div class="input-group-prepend">
                                            <span class="border_decoration input-group-text bg-white cinza border-1" id="basic-addon1">Telefone</span>
                                        </div>
                                        <input type="text" class="form-control border-1 inputs" placeholder="Digite o seu telefone" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                                <div class="col-md-6 mt-3">
                                    <div class="input-group border_color">
                                        <div class="input-group-prepend">
                                            <span class="border_decoration input-group-text bg-white cinza border-1" id="basic-addon1">Celular</span>
                                        </div>
                                        <input type="text" class="form-control border-1 inputs" placeholder="Digite o seu celular" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                            </div>

                            <div class="mt-4 mx-3"><h5>Objetivos e Pretensão Profissional</h5></div>
                            <div class="row mx-auto">
                                <div class="col-md-12 mt-3">
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Objetivos Profissionais</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1 invalidCheck" rows="3" required placeholder="Descreva seus Objetivos Profissionais"></textarea>
                                    </div>  
                                </div>
                            </div>

                            <div class="row mx-auto">
                                <div class="col-md-6 mt-3">
                                    <div class="input-group border_color">
                                        <div class="input-group-prepend">
                                            <span class="border_decoration input-group-text bg-white cinza border-1" id="basic-addon1">Pretensão de Período</span>
                                        </div>
                                        <select class="form-control"required>
                                            <option selected>Selecione</option>
                                            <option value="">Tarde</option>
                                            <option value="">Manhã</option>
                                            <option value="">Integral</option>
                                            <option value="">Noite</option>
                                            <option value="">Indiferente</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 mt-3">
                                    <div class="input-group border_color">
                                        <div class="input-group-prepend">
                                            <span class="border_decoration input-group-text bg-white cinza border-1" id="basic-addon1">Pretensão Salarial</span>
                                        </div>
                                        <input type="text" class="form-control border-1 inputs" placeholder="Pretensão"aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                            </div>

                            <div class="row mx-auto">
                                <div class="col-md-12 mt-3">
                                    <div class="input-group">
                                        <span class="border_decoration input-group-text bg-white border-1" id="basic-addon1">Cargo</span>
                                        <input type="text" class="form-control border-1 inputs" placeholder="Digite o cargo"aria-label="Username" aria-describedby="basic-addon1">
                                        <button class="btn btn-outline-primary" type="button">+</button>
                                    </div> 
                                </div>
                            </div>

                            <div class="row mx-auto">
                                <div class="col-md-12 mt-3">
                                    <div class="input-group">
                                        <span class="border_decoration input-group-text bg-white border-1" id="basic-addon1">Cidades Aceitas</span>
                                        <input type="text" class="form-control border-1 inputs" placeholder="Digite o nome da sua cidade" aria-label="Username" aria-describedby="basic-addon1">
                                        <button class="btn btn-outline-primary" type="button">+</button>
                                    </div> 
                                </div>
                            </div>
                            
                            <input class="btn btn-primary mt-4 mx-3 float-start" type="submit" value="Voltar">
                            <input class="btn btn-primary mt-4 mx-3 float-end" type="submit" value="Próximo">
                        </div>
                    </form>
                    
               </div>
            </div>
        </div>
      </div>

    </div>
   
  </body>
</html>